@if(Context.User.Identity.IsAuthenticated == true){

        <a class="text-dark" asp-area="" asp-controller="Usuarios" asp-action="PerfilUsuario">
            <img src="~/images/@Context.User.FindFirst("Image").Value" style="width: 30px; height: 30px; border-radius: 50%">
            Hola de nuevo,
            @Context.User.FindFirst("Nombre").Value
        </a>

    

        <a class="btn btn-danger" asp-area="" asp-controller="Managed" asp-action="LogOut">LogOut</a>

}